.home_conainer {
    .diem_danh_container {
        position: fixed;
        right: 20px;
        top: 60%;
    }
    .su_kien_container {
        position: fixed;
        right: 20px;
        top: 50%;
    }
}