.home_conainer {
    .dashbox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        background-color: #28282d;
        margin-top: 20px;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(25, 23, 56, 1);
        .dashbox__table-wrap {
            position: relative;
            display: block;
            width: 100%;
            padding: 30px 0 20px;
           
        }
    }
}
