.container_content {
    display: flex;
    background-color: var(--primary-color);
    padding: 20px 10px;
    min-height: 100vh;
    .support_container {
        position: fixed;
        z-index: 999;
        right: 20px;
        top: 80%;
    }
    .content_right {
        margin-left: calc(var(--width-sidebar) + 10px);
        width: 100%;
    }
}
