.dashbox__title {
    background: linear-gradient(180deg, #7b61ff 0%, rgba(0, 0, 0, 0) 100%);
}

.dashbox__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    h3 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        color: #fff;
        font-weight: var(--secondary-fontweight);
        font-size: var(--sixteen-px);
        line-height: 100%;
        margin-bottom: 0;
        text-transform: uppercase;
        svg {
            height: auto;
            margin-right: 10px;
            color: rgba(255, 234, 61, 1);
        }
    }
}
