.sign__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    // min-height: 100vh;
    padding: 40px 0;
    .background_login {
        position: relative;
        .background_top {
            position: absolute;
            top: 0;
            left: 21%;
        }
        .logoVip {
            position: absolute;
            top: -12%;
            left: 21%;
        }
        .sign__form_login {
            padding: 55px 80px;
            .sign__group {
                position: relative;
                margin-bottom: 20px;
                width: 100%;
                .sign__input {
                    border: 1px solid transparent;
                    position: relative;
                    font-size: var(--sixteen-px);
                    width: 100%;
                    border-radius: 8px;
                    padding: 10px 14px 10px 14px;

                    &::placeholder {
                        color: #667085;
                    }
                    &:focus {
                        border: 1px solid #ccc;
                        outline: 1px solid #fff;
                    }
                }
            }
            .sign__btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 100%;
                border-radius: 8px;
                font-weight: var(--primary-fontweight);
                background: var(--active-color);
                box-shadow: 0 0 16px 0 rgba(255, 88, 96, 0.3);
                position: relative;
                border: none;
            }
            .sign__text_signup {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 10px;
                font-size: var(--fourteen-px);
                font-weight: var(--primary-fontweight);
                span {
                    color: #fff;
                    a {
                        color: var(--active-color);
                    }
                }
            }
        }
        .form_input {
            position: absolute;
            top: 0%;
            left: -10%;
            right: -10%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-size: cover;
            opacity: 1;
        }
    }
}
