.dashbox {
    display: flex;
    min-height: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #28282d;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(25, 23, 56, 1);
    .dashbox__table-wrap {
        position: relative;
        display: block;
        width: 100%;
        padding: 30px 0 20px;
        // overflow: scroll;
        .dashbox__table {
            width: 100%;
            thead {
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                th:first-child {
                    padding-left: 20px;
                }
                th {
                    white-space: nowrap;
                    font-size: var(--twelve-px);
                    color: #79778a;
                    padding: 0 5px 15px 5px;
                    line-height: 100%;
                    font-weight: var(--secondary-fontweight);
                    border: none;
                }
            }
            tbody {
                tr:first-child {
                    border-top: 1px solid rgba(43, 40, 78, 1);
                }
                tr {
                    background-color: #28282d;
                    border-bottom: 1px solid rgba(43, 40, 78, 1);
                    td:first-child {
                        padding-left: 20px;
                    }
                    td {
                        padding: 15px 5px;
                        white-space: nowrap;
                        background: rgba(25, 23, 56, 1);
                        .dashbox__table-text {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            position: relative;
                            font-size: var(--fourteen-px);
                            color: #fff;
                            font-weight: var(--third-fontweight);
                            line-height: 24px;
                            .content_icon_text {
                                margin-left: 5px;
                            }
                            code {
                                margin-right: 5px;
                                width: 24px;
                                height: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 12.5px;
                                color: var(--active-color);
                                background-color: #7b61ff;
                                white-space: nowrap;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
        }

        .subpage-wrapper {
            width: 100%;
            text-align: center;
            padding: 25px 0 20px 0;
            form {
                max-width: 400px;
                margin: 0 auto;
            }
        }
    }
    p {
        padding: 0 20px;
        line-height: 30px;
        font-size: var(--fourteen-px);
        color: #fff;
        font-weight: var(--third-fontweight);
    }
    .scrollbar-track {
        position: absolute;
        z-index: 1;
        background: rgba(222, 222, 222, 0.75);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: opacity 0.5s 0.5s ease-out;
        transition: opacity 0.5s 0.5s ease-out;
    }
}
.center_heading {
    .dashbox__title {
        justify-content: center;
        svg {
            path {
                stroke: var(--active-color);
            }
        }
    }
}
