.dashbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #28282d;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(25, 23, 56, 1);
    .dashbox__table-wrap {
        position: relative;
        display: block;
        width: 100%;
        padding: 30px 0 20px;
        .dashbox__table {
            width: 100%;
            thead {
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                th:first-child {
                    padding-left: 20px;
                }
                th {
                    font-size: 12px;
                    color: #c7c7c7;
                    padding: 0 5px 15px 5px;
                    line-height: 100%;
                    font-weight: 300;
                    border: none;
                }
            }
            tbody {
                tr:first-child {
                    border-top: 1px solid rgba(43, 40, 78, 1);
                }
                tr {
                    background-color: #28282d;
                    border-bottom: 1px solid rgba(43, 40, 78, 1);
                    td:first-child {
                        padding-left: 20px;
                    }
                    td {
                        padding: 15px 5px;
                        white-space: nowrap;
                        background: rgba(25, 23, 56, 1);
                        .dashbox__table-text {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            position: relative;
                            font-size: 14px;
                            color: #fff;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                            line-height: 24px;
                            code {
                                padding: 0px 7px;
                                margin-right: 5px;
                                font-size: 12.5px;
                                color: rgba(255, 234, 61, 1);
                                background-color: rgba(123, 97, 255, 1);
                                white-space: nowrap;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    p {
        padding: 0 20px;
        line-height: 30px;
        font-size: var(--fourteen-px);
        color: #fff;
        font-weight: var(--third-fontweight);
    }
}
