.section--bg {
    background-color: var(--primary-color);
}
.sign-up {
    position: relative;
    display: block;
    .support_img {
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    .sign__content {
        min-height: 100vh;
    }
}
